barcode_generator==0.1rc15
fastapi==0.111.0
firebase_admin==6.5.0
fpdf==1.7.2
mysql_connector_repackaged==0.3.1
Pillow==10.3.0
protobuf==5.27.1
pydantic==2.7.4
PyJWT==2.8.0
pymysql==1.1.1
cachecontrol==0.12.6
pyzbar==0.1.9
SQLAlchemy==2.0.30
uvicorn==0.30.1
pycryptodome==3.17
pyrebase4==4.5.0
